In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import os
import getpass
import pyodbc
import datetime
import matplotlib
import matplotlib.pyplot as plt
from mainQuery import query

from sklearn.utils.fixes import isclose
from sklearn import metrics as met
from pylab import rcParams
rcParams['figure.figsize'] = 7, 7

In [2]:
connectString = 'DRIVER={SQL Server};SERVER=dwh.int.revoplus.ru;DATABASE=Revo_DW;UID=e.migaev;PWD='
pswd = getpass.getpass('DWH_Password: ')
connectString = connectString + pswd
cnxn = pyodbc.connect(connectString)
pswd = connectString = ''

DWH_Password: ········

In [4]:
df = pd.read_sql(query,cnxn)
df.to_csv('sourceSmaple.csv')

In [4]:
bFlags = pd.read_csv('D:/YandexDisk/Work/Useful/BadFlags/badFlags.csv')

In [7]:
a = df.groupby('clientKey').size().reset_index()
a[a[0]>1]

        clientKey  0
175         51002  2
202         58366  2
321         83895  2
338         85652  2
364         90501  2
371         92496  2
498        103643  2
510        103740  2
511        103741  2
621        103863  2
627        103870  2
629        103872  2
630        103873  2
631        103874  2
635        103878  2
637        103880  2
640        103884  2
654        103900  2
694        103948  2
721        103976  2
738        103995  2
741        103998  2
873        104143  2
1040       104328  2
1488       104833  2
2198       105631  2
2274       105720  2
2368       105828  2
2408       105873  2
2535       106008  4
...           ... ..
403285     562342  2
404286     563597  2
404559     563882  2
404640     563965  2
405563     564930  2
406015     565610  2
406526     566136  3
408412     568314  2
409293     569222  2
409380     569315  2
409819     569778  2
411018     571262  2
411084     571331  2
411923     572207  2
412030     572320  2
413873     574259  2
413939     574765  2
414917     575787  2
415475     576376  2
416159     577346  2
416595     577803  2
416879     578098  3
417230     578469  2
417655     578921  2
418045     579511  2
418786     580294  2
419146     580672  2
419751     581517  2
420039     581812  2
420578     582382  2

[1100 rows x 2 columns]